.conteiner {
  display: flex;
  flex-direction: row;
  height: calc(100vh - 80px);
}

.panel-left {
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  border-right: 1px solid var(--border);
}

.chat {
  background: url("../../../static/img/ashvsevildead.jpg") no-repeat;
  background-size: 100%;
  padding-left: 4px;
  padding-right: 4px;
  user-select: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.search-input {
  margin: 8px;
}

.chat-list {
  padding-inline-start: 0;
  list-style: none;
}

.tool-bar {
  display: flex;
  justify-content: end;
  align-items: center;
  height: 80px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.logout {
  width: 100px;
}
.logout button {
  margin-top: 0px;
}
