.input {
  background-color: var(--background-input);
  box-sizing: border-box;
  border-color: var(--background-input);
  border-width: 0;
  border-radius: 8px;
  padding: 0 26px;
  height: 62px;
  width: 100%;
}

.input:placeholder-shown {
  color: var(--placeholder);
  padding: 0 26px;
}
