.input {
  background-color: #f0efff;
  box-sizing: border-box;
  border-color: #f0efff;
  border-width: 0;
  border-radius: 8px;
  padding: 0 26px;
  height: 62px;
  width: 100%;
}

.input:placeholder-shown {
  color: #a7a3ff;
  padding: 0 26px;
}
